spring:
  application:
    name: tailor-shop

  datasource:
    url: jdbc:mysql://localhost:3306/tailor_shop?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC&createDatabaseIfNotExist=true
    username: root
    password: victoryac7
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
    open-in-view: false

  flyway:
    enabled: false

  mail:
    host: smtp.gmail.com
    port: 587
    username: hoang106408@donga.edu.vn
    password: vzzvzqynxjyvouvr
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          ssl:
            trust: smtp.gmail.com
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

server:
  port: 8083

jwt:
  secret: change-me-256-bit-secret-key-min-length-32-bytes!!!
  expiration: 86400000

aws:
  s3:
    bucket: 
    region: 
    access-key: 
    secret-key: 
    base-url: 
