version: '3.8'

services:
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: tailor-shop-tunnel
    restart: always
    command: tunnel run
    environment:
      - TUNNEL_TOKEN=${CLOUDFLARE_TUNNEL_TOKEN}
    networks:
      - tailor-shop-network
